<a href="https://colab.research.google.com/github/HO94/practice002/blob/main/%EC%A0%84%EC%9E%90%EC%83%81%EA%B1%B0%EB%9E%98_%EC%88%98%EC%B6%9C%EC%9E%85_%ED%86%B5%EA%B3%84001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 패키지 불러오기

import requests
import json
import pandas as pd
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt
import seaborn as sns
import time

In [2]:
# 데이터 불러오기

data = pd.DataFrame()

for i in range(0,13):
  xlsx = pd.read_excel('/content/전자상거래품목동향{}.xlsx'.format(i) ,skiprows=3)
  data = pd.concat([data, xlsx], ignore_index=True)
  xlsx = np.nan

data

      순위    품목  ...   비중.1  Unnamed: 0
0    1.0  3304  ...  87.11         NaN
1    2.0  6211  ...  93.52         NaN
2    3.0  6109  ...  97.32         NaN
3    4.0  6204  ...  85.50         NaN
4    5.0  3919  ...  67.05         NaN
..   ...   ...  ...    ...         ...
601  NaN  5810  ...  20.00       602.0
602  NaN  4017  ...   0.07       603.0
603  NaN  4801  ...   0.03       604.0
604  NaN  7304  ...   0.09       605.0
605  NaN  2836  ...   0.26       606.0

[606 rows x 10 columns]

In [3]:
# '순위' NaN 해결

data['순위'] = list(range(1,607))
data = data.drop(['Unnamed: 0'], axis=1)
data

      순위    품목  ...       건수   비중.1
0      1  3304  ...  1477833  87.11
1      2  6211  ...   456501  93.52
2      3  6109  ...   395080  97.32
3      4  6204  ...   254842  85.50
4      5  3919  ...   238693  67.05
..   ...   ...  ...      ...    ...
601  602  5810  ...        1  20.00
602  603  4017  ...        1   0.07
603  604  4801  ...        1   0.03
604  605  7304  ...        1   0.09
605  606  2836  ...        1   0.26

[606 rows x 9 columns]

In [4]:
#금액, 건수 분할

data_money = data.drop(['품목.1','품목명.1','건수','비중.1'], axis=1)
data_count = data.drop(['품목','품목명','금액','비중'], axis = 1)

In [5]:
data_money

      순위    품목  ...         금액     비중
0      1  3304  ...  128181613   2.31
1      2  6211  ...   23864040  36.23
2      3  6109  ...   20016361  11.83
3      4  6204  ...   13714087   9.77
4      5  3919  ...   13330913   0.90
..   ...   ...  ...        ...    ...
601  602  5810  ...          7   0.00
602  603  4017  ...          5   0.00
603  604  4801  ...          4   0.00
604  605  7304  ...          3   0.00
605  606  2836  ...          3   0.00

[606 rows x 5 columns]

In [6]:
data_count

      순위  품목.1  ...       건수   비중.1
0      1  3304  ...  1477833  87.11
1      2  6109  ...   456501  93.52
2      3  6211  ...   395080  97.32
3      4  6204  ...   254842  85.50
4      5  3919  ...   238693  67.05
..   ...   ...  ...      ...    ...
601  602  9103  ...        1  20.00
602  603  2526  ...        1   0.07
603  604  2836  ...        1   0.03
604  605  3702  ...        1   0.09
605  606  2520  ...        1   0.26

[606 rows x 5 columns]

In [7]:
data_money_50 = data_money.loc[data_money['비중'] > 50]

In [8]:
data_count_50 = data_count.loc[data_count['비중.1']>50]

In [9]:
data.loc[(data['비중']>50) | (data['비중.1']>50)]

      순위    품목  ...       건수    비중.1
0      1  3304  ...  1477833   87.11
1      2  6211  ...   456501   93.52
2      3  6109  ...   395080   97.32
3      4  6204  ...   254842   85.50
4      5  3919  ...   238693   67.05
..   ...   ...  ...      ...     ...
417  418   102  ...       12    4.76
418  419  9005  ...       11  100.00
422  423  6602  ...       11   68.75
557  558  8404  ...        1  100.00
598  599  9704  ...        1    0.09

[126 rows x 9 columns]

In [10]:
data.loc[data['품목.1'] == 4404]

      순위    품목  ...    건수   비중.1
114  115  7615  ...  2100  99.86

[1 rows x 9 columns]

In [11]:
data_money_50

      순위    품목  ...       금액      비중
29    30  6101  ...  2181013   56.12
216  217  4404  ...    25763   98.99
243  244   502  ...    15677   83.76
352  353  5002  ...     2589   75.50
356  357  4503  ...     2470   53.38
417  418   102  ...      941  100.00
598  599  9704  ...       10  100.00

[7 rows x 5 columns]

In [12]:
data_count_50

      순위  품목.1  ...       건수    비중.1
0      1  3304  ...  1477833   87.11
1      2  6109  ...   456501   93.52
2      3  6211  ...   395080   97.32
3      4  6204  ...   254842   85.50
4      5  3919  ...   238693   67.05
..   ...   ...  ...      ...     ...
402  403  1214  ...       15   60.00
411  412  4503  ...       13   52.00
418  419   102  ...       11  100.00
422  423   801  ...       11   68.75
557  558  9704  ...        1  100.00

[121 rows x 5 columns]

In [36]:
list(data_count['품목.1']) == list(data_money_50['품목'])

False

In [40]:
data_money_50['품목'].reset_index(drop=True)

0    6101
1    4404
2     502
3    5002
4    4503
5     102
6    9704
Name: 품목, dtype: int64