<a href="https://colab.research.google.com/github/HO94/practice002/blob/main/%EC%A0%84%EC%9E%90%EC%83%81%EA%B1%B0%EB%9E%98_%EC%88%98%EC%B6%9C%EC%9E%85_%ED%86%B5%EA%B3%84001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 패키지 불러오기

import requests
import json
import pandas as pd
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt
import seaborn as sns
import time

In [38]:
# 데이터 불러오기

data = pd.DataFrame()

for i in range(0,13):
  xlsx = pd.read_excel('/content/전자상거래품목동향{}.xlsx'.format(i) ,skiprows=3)
  data = pd.concat([data, xlsx])
  xlsx = np.nan

data

In [39]:
data

     순위    품목  ...   비중.1  Unnamed: 0
0   1.0  3304  ...  87.11         NaN
1   2.0  6211  ...  93.52         NaN
2   3.0  6109  ...  97.32         NaN
3   4.0  6204  ...  85.50         NaN
4   5.0  3919  ...  67.05         NaN
..  ...   ...  ...    ...         ...
1   NaN  5810  ...  20.00       602.0
2   NaN  4017  ...   0.07       603.0
3   NaN  4801  ...   0.03       604.0
4   NaN  7304  ...   0.09       605.0
5   NaN  2836  ...   0.26       606.0

[606 rows x 10 columns]

In [56]:
# '순위' NaN 해결

data['순위'] = list(range(1,607))
data = data.drop(['Unnamed: 0'], axis=1)
data

     순위    품목  ...       건수   비중.1
0     1  3304  ...  1477833  87.11
1     2  6211  ...   456501  93.52
2     3  6109  ...   395080  97.32
3     4  6204  ...   254842  85.50
4     5  3919  ...   238693  67.05
..  ...   ...  ...      ...    ...
1   602  5810  ...        1  20.00
2   603  4017  ...        1   0.07
3   604  4801  ...        1   0.03
4   605  7304  ...        1   0.09
5   606  2836  ...        1   0.26

[606 rows x 9 columns]